body {
    margin: 0;
    font-family: Consolas;
}

div {
    background-color: yellow;

}

.menu {
    border-style: solid;
    border-color: black;
    width: 100%;
    position:absolute;
}

header{
    background-color: blue;
    padding:100px;
    width: 100%;

}

#logo {
    position:relative;
    padding:10px;
    float:left;
}

#account {
    position:relative;
    padding: 10px;
    overflow: hidden;
    float:right;
}

#board {
    margin-top: 100px;
    height: 300px;
    left: 10%;
    right:10%;

    position:absolute;
    background-color: red;
}