body {
    margin: 0;
}

div {
    background-color: lightblue;
    border-radius: 15px;
    padding:5px;
    font-family: "Helvetica";
}

.header-wrapper {
    background-image: linear-gradient(lightblue,lightseagreen);
    border-radius: 15px;
    left: 10%;
    right: 10%;
    position:absolute;
    float:center;
}

.container {
    margin:25px;
}

#logo {
    position:absolute;
    width: 10%;
    padding:0px;
    float:left;
    text-align: center;
}

.topbar {
    position:relative;
    padding: 10px;
    margin-right:10px;
    overflow: hidden;
    float:right;
}

#board {
    margin-top: 60px;
    left: 10%;
    right:10%;

    position:absolute;
    background-image: linear-gradient(lightblue,lightseagreen);
}