body {
    margin: 0;
    font-family: Consolas;
}

div {
    background-color: lightblue;

}

.menu {
    border-style: solid;
    border-color: black;
    left: 10%;
    right: 10%;
    position:absolute;
}

#logo {
    position:absolute;
    height: 100%;
    width: 10%;
    padding:0px;
    float:left;
    text-align: center;
}

#account {
    position:relative;
    padding: 10px;
    overflow: hidden;
    float:right;
}

#board {
    margin-top: 52.5px;
    height: 100%;
    left: 10%;
    right:10%;

    position:absolute;
    background-color: lightseagreen;
}