{% extends 'base.html' %}
{% block body %} 
<style>
    body 
    {
        background-color: lightseagreen;
    }
    #bargraph 
    {
        float: left;
    }
    .messages_Div
    {
        background-color: darkgr;
        float: left;
        width: 260px;
        height: 670px;
        overflow-x: hidden; 
        overflow-x: auto;
        overflow-y: auto;
        scroll-behavior: smooth; 
        text-align:justify; 
    }
</style>
<body>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <div class="chart" id="bargraph">
        <script>
            var overallGraph = {{ overall_plot | safe }};
            var healthGraph = {{ health_graph | safe }};
            var financeGraph = {{ finance_graph | safe }};
            var productivityGraph = {{ productivity_graph | safe }};
            Plotly.plot('bargraph',overallGraph,{});
            Plotly.plot('bargraph',healthGraph,{});
            Plotly.plot('bargraph',financeGraph,{});
            Plotly.plot('bargraph',productivityGraph,{});
        </script>
    </div>
    <div class="messages_Div">
        <div class="message_Box">
            <b><center>Recommendations:</center></b><hr>
            <table id="messages">
                {% for i in advice %}
                    <tr>{{ i }}</tr><hr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div>
        <h2>Specifics of the Features: </h2>
        <h3><a href="/health">Health</a></h3>
        <h3><a href="/overall">Finance</a></h3>
        <h3><a href="/overall">Productivity</a></h3>
    </div>
</body>

{% endblock %}